@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

body {
    font-family: 'Outfit', sans-serif;
}